${project.name}
===============
  
${project.description}


[![Build Status](https://travis-ci.org/bhamail/pinexus.svg?branch=master)](https://travis-ci.org/bhamail/pinexus)

* [Supplies](supplies.html)
* [Setup](Setup.html)  
* [Doc docs](docdocs.html)  
