${project.name}
===============
  
${project.description}

To answer the question: "What is a Raspberry Pi?", see: [Raspberry Pi](https://www.raspberrypi.org)

[![Build Status](https://travis-ci.org/bhamail/pinexus.svg?branch=master)](https://travis-ci.org/bhamail/pinexus)

* [Supplies](supplies.html)
* [Setup](setup.html)  
* [Doc docs](docdocs.html)  
