${project.name}
===============
  
${project.description}

To answer the question: "What is a Raspberry Pi?", see: [Raspberry Pi](https://www.raspberrypi.org)

[![Build Status](https://github.com/bhamail/pinexus/actions/workflows/build.yaml/badge.svg)](https://github.com/bhamail/pinexus/actions)

* [Supplies](supplies.html)
* [Setup](setup.html)  
* [Doc docs](docdocs.html)  
