Nexus Setup
===========
 
 Thanks to the [nexus-repository-installer](https://github.com/sonatype-nexus-community/nexus-repository-installer)
  project on the [Sonatype Community](https://github.com/sonatype-nexus-community), the steps to install (and update)
  Nexus Repository Manager are now greatly simplified.

  The old manual steps are archived here for reference: [Old Nexus Setup](obsolete/nexussetup.html), [Old Nexus Daemon](obsolete/nexusdaemonsetup.html)

  1. Use the latest Java 8 release version of Java available from OpenJDK.

     Java runtimes above Java 8 [have not been verified](https://help.sonatype.com/repomanager3/system-requirements#SystemRequirements-Java) - do not use them:
    
        pi@raspberrypi:~ $ java -version
        java version "1.8.0"
        Java(TM) SE Runtime Environment (build 1.8.0-b132)
        Java HotSpot(TM) Client VM (build 25.0-b70, mixed mode)

  2. Follow these [Apt Setup](https://github.com/sonatype-nexus-community/nexus-repository-installer#apt-setup) steps
     to add the installer package repository. You can run the last step to install Nexus Repository Manager, but then
     you should immediately stop the Nexus daemon to allow you to customize the memory settings for the Pi. For example:

        sudo apt-get install nexus-repository-manager
        sudo service nexus3 stop

  5. If you run Nexus with the default memory settings, you could run into problems.

     A Pi currently only has 1GB to 4GB of RAM. If you do not have a 4GB Pi, you should configure Nexus to use less
     RAM than normal, and allocate less direct memory for use by the
     [database](https://support.sonatype.com/hc/en-us/articles/115007093447-Optimizing-OrientDB-Database-Memory-).
     Edit the `nexusvm.options` file:
     
        sudo vi /opt/sonatype/nexus3/bin/nexus.vmoptions
        
     Change:
     
        -Xms1200M
        -Xmx1200M
        -XX:MaxDirectMemorySize=2G
        
     to:
     
        -Xms350M
        -Xmx350M
        -XX:MaxDirectMemorySize=350M

     Additional steps for Nexus versions 3.19 and newer:

     Also change:

         -Djava.endorsed.dirs=lib/endorsed

     to:

         -Djava.endorsed.dirs=lib/endorsed:/opt/sonatype/jna

     *NOTE*: Newer versions of Nexus (3.19+) ship with a version of OrientDB which includes a version of
     [jna](https://github.com/java-native-access/jna) that accidentally omitted the ARM versions of some native libs.

     The solution is to manually download a newer version of jna, via:

         sudo wget https://repo1.maven.org/maven2/net/java/dev/jna/jna/5.5.0/jna-5.5.0.jar
         sudo wget https://repo1.maven.org/maven2/net/java/dev/jna/jna-platform/5.5.0/jna-platform-5.5.0.jar

     And move these two jars into a new directory:

         /opt/sonatype/jna

     Just in case, chmod +x the .jars:

         sudo chmod +x /opt/sonatype/jna/*

  6. Launch nexus.

    To see the log output on the console, use this command:

        sudo service nexus3 start

    You can 'tail' the nexus log file to watch startup progress using a command like this:

        tail -n 500  -f /opt/sonatype/sonatype-work/nexus3/log/nexus.log

    Watch for a message like:
    
        -------------------------------------------------
        
        Started Sonatype Nexus OSS ${version-number-latest-nexus-repo-release-number}
        
        -------------------------------------------------

    While Nexus is starting, you can monitor the system work load using `top`. Wait for the `java` process to ease up on 
    the cpu (well below 100% CPU in `top`).  Then from your PC, open the link below to Nexus running on the Pi:
  
        http://the-Pi-IP-address:8081

    For security reasons, recent versions of Nexus generate a unique admin password during the first startup.
    To read the generated admin password for your first login to the web UI, you can use the command below:

        cat /opt/sonatype/sonatype-work/nexus3/admin.password && echo

    For simplicity, you should check `Enable anonymous access` in the prompts following your first login.
   
     Huzzah! Nexus is running on your Pi.  
   
Next step: [Repository Test](repotest.html)
   
